<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MacLander - App Site Template</title>
    
    <!-- Include CSS -->
    <link href="/landing/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/landing/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/landing/css/slimbox2.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Oswald|Droid+Sans:400,700' rel='stylesheet' type='text/css' />

    <!-- Include Scripts -->  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="/landing/js/jquery.cycle.lite.min.js"></script>
    <script type="text/javascript" src="/landing/js/jquery.pngFix.pack.js"></script>
    <script type="text/javascript" src="/landing/js/jquery.color.js"></script>
    <script type="text/javascript" src="/landing/js/hoverIntent.js"></script>
    <script type="text/javascript" src="/landing/js/superfish.js"></script>
    <script type="text/javascript" src="/landing/js/slimbox2.js"></script>
    <script type="text/javascript" src="/landing/js/slides.min.js"></script>
    <script type="text/javascript" src="/landing/js/custom.js"></script>  

</head>

<body>

<!-- START HEADER -->
<div id="header">

  <div class="container">
    
      <div id="primary-nav" class="header-right">
        
            <ul class="sf-menu">
                <li class="current"><a href="/">Home</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/users/sign_in">Login</a></li>  
                <li><a href="/users/sign_up">Sign Up</a></li> 
            </ul>
            
        </div>
        
        <!-- LOGO -->        
      <a href="/"><img src="/landing/images/logo.png" border="0" alt="MacLander App Site Template" /></a>
        
        <br class="clear" />
        
    </div>
    
</div><!-- END HEADER -->


<!-- HEADER DIVIDER -->
<div id="head-break">

  <p>What is pwdapp?</p>
  <h1>Password Regeneration and Synchronization Daemon</h1>
    
</div><!-- END HEADER DIVIDER -->


<!-- START MAIN CONTAINER -->
<div class="container">


  <!-- START IMAC CONTAINER -->
    <div id="left">
    
      <!-- SLIDE SHOW -->
    <ul id="slides">
      <li><img src="/landing/images/screens/screen2.png" alt="Account screen" border="0" /></li>
      <li><img src="/landing/images/screens/screen3.png" alt="Account screen" border="0" /></li>
      <li><img src="/landing/images/screens/screen4.png" alt="Account screen" border="0" /></li>
    </ul>
        
    </div><!-- END IMAC CONTAINER -->
    
    
    <!-- START RIGHT CONTAINER -->
    <div id="right">
    
    <h2>Security Insurance</h2>
    <p>MacLander is a clean, modern, interactive app site template with a focus on the Mac App Store. MacLander blends great iOS design elements with clean type faces and contrasting colors to make a killer App Site template for any App. It also includes a number of cool jQuery features to make your lander more interactive. You can even use MacLander for a bunch of other projects that need a clean, professional look, not just App Sites!</p>
        
    <a class="appstore" href="#_"><span class="appstore-hover"></span>App Store Download</a>
                       
    <p>After you grab our App make sure you <a id="sub" href="#">Subscribe</a> to our newsletter to get all of the latest news and updates about our Apps.</p>
                
    </div><!-- END RIGHT CONTAINER -->
    
    <br class="clear" />
    
</div><!-- END MAIN CONTAINER -->


<!-- START SUBSCRIBE CONTAINER -->
<div id="subscribe">

  <!-- CLOSE BUTTON -->
  <img id="close" src="/landing/images/close.png" border="0" alt="Close" />

  <div class="container">
    
        <p>No Spam, We Promise!</p>
        <h1>Get Our Latest App Updates.</h1>
    
      <!-- ENAIL FORM -->
        <div id="footer-subscribe">
                            
            <form method="post" action="">
                <input id="email" type="text" onfocus="if (this.value == 'enter your email to subscribe!') {this.value = '';}" onblur="if (this.value == '') {this.value = 'enter your email to subscribe!';}" value="enter your email to subscribe!" />
                <input type="submit" value="submit" id="email-submit" />
            </form>
                            
        </div><!-- END EMAIL FORM -->
                        
  </div>

</div><!-- END SUBSCRIBE CONTAINER -->


<!-- START LIGHTBOX TILES -->
<div id="image-tiles">

  <div class="container">
        <a href="/landing/images/screens/full_one.jpg" title="App Screen Shot One" rel="lightbox-shots"><img src="/landing/images/screens/full_one.png" alt="screenshot one" /></a>
        <a href="/landing/images/screens/full_two.jpg" title="App Screen Shot Two" rel="lightbox-shots"><img src="/landing/images/screens/full_two.png" alt="screenshot two" /></a>
        <a href="/landing/images/screens/full_three.jpg" title="Screen Shot Three" rel="lightbox-shots"><img src="/landing/images/screens/full_three.png" alt="screenshot three" /></a>
        <a href="/landing/images/screens/full_four.jpg" title="Screen Shot Four" rel="lightbox-shots"><img class="last" src="/landing/images/screens/full_four.png" alt="screenshot four" /></a>
    </div>
    
</div><!-- END LIGHTBOX TILES -->


<!-- START SUB TILES ONE -->
<div id="sub-tiles">

  <div class="container">

    <!-- LEFT TILE -->
        <div id="sub-left">
        
          <div class="sub-inner">
            
              <h3>Slideshow &amp; Lightbox Features</h3>
                <p>MacLander comes with both a slick screen shot rotator built on a mock-up iMac, and a speedy lightbox to showcase larger screenshots of your applications, websites, or other products.</p>
            
            </div>
            
        </div><!-- END LEFT TILE -->
        
        
        <!-- RIGHT TILE -->
        <div id="sub-right">
        
            <div class="sub-inner-right">
            
              <h3>Show Off In Style</h3>
                <p>MacLander is a very clean layout making it useful for many projects! Reuse MacLander over and over to give all of your App Sites a professional look with minimal effort.</p>
                
            </div>
            
        </div><!-- END RIGHT TILE -->
        
        <br class="clear" />
        
    </div>
    
</div><!-- END SUB TILES -->


<!-- START FEATURE TILES -->
<div id="feature-tiles">

  <div class="container">
    
    
      <!-- LEFT TILE -->
        <div class="feature left">
        
          <h4 class="speechbubble">Get Them Talking</h4>
            <p>Get your visitors talking with MacLander's great interactive features and bold design. Word of mouth is a powerful marketing tool to have on your side.</p>
            
        </div><!-- END LEFT TILE -->
        
        
        <!-- MIDDLE TILE -->
        <div class="feature border">
        
          <h4 class="monitor">Standards Based</h4>
            <p>Take pride in knowing your App Site will be cross browser compatible and use standards based coding. A table-less and clean code markup makes MacLander incredibly easy to edit and use.</p>
            
        </div><!-- END MIDDLE TILE -->
    
    
      <!-- RIGHT TILE -->
        <div class="feature last">
        
          <h4 class="star">App Site All Star</h4>
            <p>Make your Mac App Store application an all star with a dedicated site with that professional look that's sure to drive new sales and increase exposure.</p>
            
        </div><!-- END RIGHT TILE -->
        
        <br class="clear" />
    
    </div>

</div><!-- END FEATURE TILES -->


<!-- START FOOTER -->
<div id="footer">

  <div class="container">
    
      <div id="footer-right">
        
          Created by <a href="http://tyler.tc/" target="_blank">Tyler Colwell</a> © 2011<br />
            <a href="#_" class="social facebook">Fan Us</a> <a href="#_" class="social twitter">Follow Us</a> <a href="#_" class="social googleplus">Plus Us</a>
            
        </div>
    
    <a id="top" href="#">Top</a> | <a href="#">Andriod Version</a> | <a href="#">Company Blog</a> | <a href="#">About Us</a> | <a href="#">Contact</a><br />
        Download MacLander on ThemeForest.<br />
        
        <br class="clear" />
    
  </div>
    
</div><!-- END FOOTER -->

</body>
</html>